.wrapper {
  margin: 0 100px;
  display: flex;
  justify-content: center;
}

pdf-viewer {
  height: 80vh;
}

.column {
  display: flex;
}

.left {
  display: block;
  margin-top: 50px;
  padding-right: 20px;
}

.right {
  min-width: 794px;
  width: 794px;
}

.pwWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.item {
  margin: 10px;
}

button {
  appearance: none;
  border: 0.2em solid black;
  background: white;
  padding: 0.85em 1.5em;
  color: black;
  border-radius: 2em;
}
input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid black;
  background: rgba(black, 0.1);
  padding: 0.4em;
  color: black;
}

.wrong {
  visibility: hidden;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.information {
  transition: opacity 0.3s linear 2s;
}


.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.loaded {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


@media (max-width: 900px) {
  .column {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }
}

@media (min-width: 1921px) {
  .wrapper {
    margin: 0 25%;
  }
}
