<div class="wrapper">
  {{ this.displayInfo }}
  <div *ngIf="!this.displayInfo">
    Enter this password to reveil my informations
    <div style="font-weight: bold">
      {{ this.password }}
    </div>

    <div>
      <label for="password">Password: </label>
      <input id="password" type="text" [(ngModel)]="insertedPassword" />
    </div>

    <div>
      <button type="button" (click)="checkPassword()">Update Password</button>
    </div>
  </div>

  <div *ngIf="displayWrong && !this.displayInfo">Falsches Passwort</div>

  <div *ngIf="this.displayInfo">
    <div>yingsiulau&#64;gmail.com</div>
  </div>
</div>
