<div class="wrapper">
  <div *ngIf="!this.displayInfo">
    <div class="pwWrapper">
      <div>
        <div class="item">
          Enter this password to reveal my contact informations
        </div>
        <div class="item" style="font-weight: bold">
          {{ this.password }}
        </div>

        <div class="item">
          <label for="password">Password: </label>
          <br />
          <input
            id="password"
            type="text"
            [(ngModel)]="insertedPassword"
            (keyup.enter)="checkPassword()"
          />
        </div>

        <div class="item">
          <button type="button" (click)="checkPassword()">
            Enter Password
          </button>
        </div>
        <div
          class="item"
          [ngClass]="{ wrong: !displayWrong && !this.displayInfo }"
        >
          Falsches Passwort
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.displayInfo && (this.dataService.windowWidth | async)">
    <div class="column" [@visibleHidden]="displayInfo ? 'visible' : 'error'">
      <div class="left">
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/yingsiu-lau-0723301b7/"
              target="_blank"
              >Linkedin</a
            >
          </li>
          <li>
            <a href="https://github.com/yingsiulau" target="_blank">Github</a>
          </li>
          <li>
            <a href="assets/docs/2024_Yingsiu_Unterlagen.pdf" target="_blank">
              Unterlagen herunterladen
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ng-container *ngIf="this.dataService.windowWidth.value > 900">
          <pdf-viewer
            [src]="pdfSource"
            (after-load-complete)="onPdfLoadComplete()"
            [ngClass]="{ hidden: !isLoaded, loaded: isLoaded }"
          ></pdf-viewer>
        </ng-container>
      </div>
    </div>
  </div>
</div>
