<div class="wrapper">
  <div class="intro">
    <div class="left">
      <ngx-typed-js
        [strings]="['Ich bin ein Frontend-Entwickler','Ich bin ein netter Typ', 'Ich bin Yingsiu Lau.']"
        [backDelay]="1750"
        [backSpeed]="35"
        [showCursor]="false"
      >
        <h1 class="typing"></h1>
      </ngx-typed-js>
    </div>
    <div class="right">
      <img src="../../../assets/images/yingsiu.jpeg" alt="yingsiu" />
    </div>
  </div>
  <div class="info">
    <div class="column">
      <div class="first">
        <img src="../../../assets/images/chrigu.png" alt="yingsiu" />
      </div>
      <div class="text">
        <h2>Flexibel</h2>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et
        </p>
      </div>
    </div>
    <div class="column">
      <div class="second"></div>
      <div class="text">
        <h2>Kreativ</h2>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et
        </p>
      </div>
    </div>
    <div class="column">
      <div class="third"></div>
      <div class="text">
        <h2>Kompetent</h2>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et
        </p>
      </div>
    </div>
  </div>


  <div class="carosel"></div>
</div>
