<div class="wrapper">
  <div class="intro">
    <div class="left">
      <ngx-typed-js
        [strings]="[
          'ein Teamspieler ',
          'ein Frontend Entwickler ',
          'Yingsiu&nbsp;Lau'
        ]"
        [backDelay]="2000"
        [backSpeed]="35"
        [showCursor]="true"
      >
        <h1>Ich bin <span class="typing"></span></h1>
      </ngx-typed-js>
    </div>
    <div class="right">
      <img src="assets/images/yingsiu1.png" alt="yingsiu" />
    </div>
  </div>
  <div class="info">
    <div class="column">
      <div class="image-container">
        <img src="assets/images/stretch.png" alt="yingsiu" />
      </div>
      <div class="text">
        <h2>Flexibel</h2>
        <p>
          Als Frontend Applikationsentwickler in der Arbeitswelt habe ich
          Flexibilität als einen meiner herausragenden Stärken entdeckt. Durch
          meine fundierte Kenntnisse und praktische Erfahrung mit Scrum habe ich
          gelernt, wie wichtig es ist, sich schnell an wechselnde Anforderungen
          anzupassen und gleichzeitig ein hohes Mass an Effizienz und Qualität
          beizubehalten. Scrum ermöglicht es mir, in agilen Teams nahtlos zu
          arbeiten, indem ich mich an dynamische Projektumgebungen anpasse,
          Prioritäten setze und eng mit Kollegen zusammenarbeite, um gemeinsame
          Ziele zu erreichen. Meine Flexibilität mit Scrum hat es mir
          ermöglicht, innovative Lösungen zu entwickeln und erfolgreiche
          Projekte termingerecht abzuschliessen, selbst in herausfordernden und
          sich schnell verändernden Arbeitsumgebungen.
        </p>
      </div>
    </div>
    <div class="column" [ngClass]="{ reversed: reversedOrder }">
      <div class="image-container">
        <img src="assets/images/yingsiu11.png" alt="yingsiu" />
      </div>
      <div class="text">
        <h2>Kreativ</h2>
        <p>
          Als Webdesigner und Grafikdesigner schöpfe ich meine Inspiration aus
          einem reichen Reservoir an Kreativität. Mit Adobe Photoshop und
          anderen Tools verwandle ich Ideen in visuelle Meisterwerke. Mein Ziel
          ist es, ansprechende Designs zu schaffen, die nicht nur schön
          anzusehen sind, sondern auch die Botschaft hinter dem Bild effektiv zu
          kommunizieren.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="image-container">
        <img src="assets/images/angular.png" alt="yingsiu" />
      </div>
      <div class="text">
        <h2>Kompetent</h2>
        <p>
          Als erfahrener Angular-Entwickler verfüge ich über fundierte
          Kenntnisse und praktische Erfahrung in der Entwicklung von
          Webanwendungen mit Angular. Mit meiner Expertise bin ich in der Lage,
          komplexe Anforderungen zu verstehen, effiziente Lösungen zu entwerfen
          und hochwertigen Code zu entwickeln. Ich beherrsche die Konzepte von
          Komponentenarchitektur, Datenbindung, Routing, HTTP-Interaktionen und
          vielem mehr. Darüber hinaus bin ich vertraut mit den Best Practices
          von Angular und kann diese erfolgreich in Projekten umsetzen. Meine
          Fähigkeit, robuste und skalierbare Anwendungen zu erstellen, hat dazu
          beigetragen, Projekte erfolgreich abzuschliessen und Mehrwert für Teams
          und Unternehmen zu schaffen.
        </p>
      </div>
    </div>
  </div>

  <div class="hobbies">
    <h2>Meine Gallerie</h2>
    <div class="gallery-container">
      <div class="gallery">
        <img
          src="assets/images/bild.jpeg"
          (click)="openDialog('bild.jpeg')"
          alt="bild"
        />
        <img
          src="assets/images/museum.jpeg"
          (click)="openDialog('museum.jpeg')"
          alt="museum"
        />
        <img
          src="assets/images/inverted1.png"
          (click)="openDialog('inverted1.png')"
          alt="inverted1"
        />
        <img
          src="assets/images/shooting.png"
          (click)="openDialog('shooting.png')"
          alt="shooting"
        />
        <img
          src="assets/images/zoo.JPG"
          (click)="openDialog('zoo.JPG')"
          alt="zoo"
        />
        <img
          src="assets/images/carousel.JPG"
          (click)="openDialog('carousel.JPG')"
          alt="carousel"
        />
      </div>
    </div>
  </div>
</div>
