.wrapper {
  margin: 50px;
}

h1,
h2 {
  font-family: "young";
}

.typing {
  font-style: italic;
}

.intro {
  height: 90vh;
  margin-bottom: 10px;
}

.intro:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  height: 60vh;
  display: flex;
  align-items: center;
  float: left;
  width: calc(60vw - 100px);
  h1 {
    font-size: 50px;
  }
}

img {
  height: calc(40vh - 50px);
}

.info {
  height: auto;
}

.text {
  padding: 10px;
}

.column {
  display: flex;
  margin: 50px 0;
}

.hobbies {
  margin-top: 100px;
  > ul {
    font-size: 20px;
  }
}

.gallery {
  height: 50vh;
  display: flex;
  justify-content: center;
  > * {
    padding: 10px;
    height: 300px;
  }
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .gallery {
    > * {
      max-width: 350px;
    }
  }

  .column {
    flex-wrap: wrap;
  }
}
