.wrapper {
  margin: 50px;
}

h1,
h2 {
  font-family: "akira";
}

img {
  height: calc(50vh);
}

.typing {
  color: rgb(220, 17, 17);
  padding-right: 10px;
}

.intro {
  height: 60vh;
  margin-bottom: 10px;
  display: flex;
  margin-bottom: 40vh;
}

.intro:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  margin: auto;
  width: 60vw;
  text-align: right;
}

.right {
  margin: auto;
  padding-left: 10vw;
  width: 40vw;
  height: 40vh;
  display: flex;
  align-items: center;
  float: left;
  h1 {
    font-size: 39pt;
    font-weight: bold;
    background-color: white;
  }

  img {
    filter: contrast(1.1);
    border-radius: 50%;
  }
}

.info {
  img {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
}

.text {
  padding: 10px 30px;
  height: auto;
  margin: auto;
  text-align: justify;
}

.column {
  display: flex;
  margin: 50px 0;
}

.hobbies {
  margin-top: 100px;
  > ul {
    font-size: 20px;
  }
}

.gallery {
  height: 50vh;
  display: flex;
  justify-content: center;
  > * {
    padding: 10px;
    height: 300px;
  }
  flex-wrap: wrap;
}

.imageColumn {
  > * {
    padding: 10px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .gallery {
    > * {
      max-width: 350px;
    }
  }

  .column {
    flex-wrap: wrap;
  }

  .right {
    img {
      border-radius: 0;
    }
  }
}
