.navbar {
  background-color: rgb(46, 46, 46);
  color: white;
  display: flex;
  align-items: center;
  height: 80px;
}

.left {
  width: 10%;
  margin-left: 50px;
}

.right {
  width: 90%;
  margin-right: 50px;
  > div {
    float: right;
    margin: 10px;
  }
}
