.navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;
  font-family: "akira";
}

.left {
  width: auto;
  margin-left: 50px;
  h3 {
    margin: 0;
  }
}

.right {
  cursor: pointer;
  width: 50%;
  margin-right: 50px;
  > div {
    float: right;
    padding: 10px;
  }
}
