.navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;
  font-family: "akira";
}

.left {
  width: auto;
  margin-left: 50px;
  h3 {
    margin: 0;
  }
}

.right {
  width: 55%;
  margin-right: 50px;
  > div {
    float: right;
    padding: 10px;
  }
}

.right .active {
  color: #dc1111;
}

.link {
  cursor: pointer;
}

@media (max-width: 725px) {
  .right {
    width: 20%;
    margin-right: 20px;
    > div {
      float: right;
      padding: 10px;
    }
  }
}
