<div class="wrapper">
  <ngb-carousel class="left" (slide)="onSlide($event)">
    <ng-template ngbSlide id="1">
      <div class="img-wrapper">
        <img
          src="portfolio/assets/images/yingsiu.jpeg"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h3 class="highlight">
          <mark> Ansicht für die Pflegefachpersonen </mark>
        </h3>
        <p class="highlight"><mark> Angular - Ionic </mark></p>
      </div>
    </ng-template>
    <ng-template ngbSlide id="2">
      <div class="img-wrapper">
        <img
          src="portfolio/assets/images/chrigu.png"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <h3 class="highlight">
          <mark> Ansicht für die Stationsleitung </mark>
        </h3>
        <p class="highlight"><mark> Angular </mark></p>
      </div>
    </ng-template>
    <ng-template ngbSlide id="3">
      <div class="img-wrapper">
        <img src="portfolio/assets/images/chrigu.png" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3 class="highlight"><mark> IPSP Webapp </mark></h3>
        <p class="highlight"><mark>Angular</mark></p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="right"><p [innerHTML]="displayText(slideNumber)"></p></div>
</div>
