.wrapper {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 60vw;
  margin: 0 5vw;
}

.right {
  width: 30vw;
  margin-right: 5vw;
  background-color: rgba(0, 0, 0, 0.222);
}

img {
  width: 60vw;
  height: calc(100vh - 10vh - 80px);
  max-height: 550px;
}

mark {
  color: white;
  background-color: rgba(0, 0, 0, 0.222);
}
