<div class="wrapper">
  <div class="hobbies">
    <div class="music">
      <div class="left">
        <h2>Passion</h2>
        <p>
          Um den Rhythmus für den Alltag zu finden und den Tinnitus zu
          unterdrücken, tauche ich gerne in die Welt der Musik ein.
          <br />
          <br />
          In den letzen Jahren habe ich einige einige Alben gefunden, die mir am
          herzen liegen, diese möchte ich gerne mit euch teilen.
        </p>
        <div *ngFor="let album of albumCollection.albums; let i = index">
          <ng-container class="album" *ngIf="i === albumIndex">
            <h2>{{ album.albumTitle }} - {{ album.artist }}</h2>
            <p><strong>Artist:</strong> {{ album.artist }}</p>
            <p><strong>Genre:</strong> {{ album.genre }}</p>

            <div class="songs" *ngFor="let song of album.songs">
              <p>{{ song.title }} - {{ song.length }}</p>
            </div>
          </ng-container>
        </div>

        <div class="buttons">
          <button (click)="onPrevClick()">Previous</button>
          <button (click)="onNextClick()">Next</button>
        </div>
      </div>
      <div class="right">
        <app-canvas-container [albumIndex]="albumIndex">
          [changeTexture]="currentDirection" ></app-canvas-container
        >
      </div>
    </div>

    <h2>Meine lieblings Momente</h2>
    <div class="gallery-container">
      <div class="gallery">
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/mercedes.jpeg"
          (click)="openDialog('mercedes.jpeg')"
          alt="mercedes"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/eleanor.jpeg"
          (click)="openDialog('eleanor.jpeg')"
          alt="eleanor"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/sunset.jpeg"
          (click)="openDialog('sunset.jpeg')"
          alt="sunset"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/polaroid.jpeg"
          (click)="openDialog('polaroid.jpeg')"
          alt="inverted1"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/yingsiu_new.jpeg"
          (click)="openDialog('yingsiu_new.jpeg')"
          alt="yingsiu_new"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/gf.jpeg"
          (click)="openDialog('gf.jpeg')"
          alt="gf"
        />
      </div>
    </div>
  </div>
</div>
