.wrapper {
  margin: 20px 10%;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.music {
  display: flex;
  flex-direction: row; /* Ensure children are laid out in a row */
  background-color: red;
  position: relative; /* For absolute positioning of buttons */
}

.album {
  position: relative;
  padding-bottom: 60px; /* Make space for buttons if needed */
  overflow: scroll; /* Hide overflow in the album container */
  background-color: aliceblue;
}

.songs {
  overflow-y: auto; /* Enable vertical scrolling for long lists */
  max-height: calc(2vh - 120px); /* Adjust this value to fit within the available height */
}

.left {
  position: relative; /* For positioning the buttons inside this container */
  background-color: green;
  width: 33.333%;
  max-height: calc(66.666%);
}

.right {
  background-color: blue;
  width: 66.6666%;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

app-canvas-container {
  aspect-ratio: 4 / 3; /* Aspect ratio for the canvas container */
  width: 100%; /* Ensure it takes full width */
  height: auto; /* Adjust height automatically */
}


.gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery img.loaded {
  opacity: 1;
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  height: auto;

  img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio */
  }

  @media (max-width: 1024px) {
    /* Tablet size */
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    /* Mobile size */
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .gallery {
    > * {
      min-width: none;
      max-width: 350px;
    }
  }

  .column {
    flex-wrap: wrap;
  }

  .right {
    img {
      border-radius: 0;
    }
  }
}

@media (max-width: 610px) {
  .wrapper {
    margin: 20px;
  }
  .gallery {
    > * {
      width: 100%;
    }
  }
}
