<div class="wrapper">
  <div class="hobbies">
    <div class="music" *ngIf="this.dataService.windowWidth | async">
      <div class="left">
        <h2>Musik <mat-icon>music_note</mat-icon></h2>
        <p>
          Um den Alltag im Einklang mit Rhythmus und Harmonie zu gestalten und
          gleichzeitig den Tinnitus zu lindern, widme ich mich leidenschaftlich
          der Welt der Musik. In den letzten Jahren habe ich eine Reihe von
          Alben entdeckt, die mir besonders am Herzen liegen. Gerne möchte ich
          diese musikalischen Schätze mit Ihnen teilen.
        </p>
        <div *ngFor="let album of albumCollection.albums; let i = index">
          <div class="album" *ngIf="i === albumIndex">
            <h2>{{ album.albumTitle }} ({{ album.releaseYear }})</h2>
            <h3>{{ album.artist }}</h3>
            <p><strong>Genre:</strong> {{ album.genre }}</p>
            <div class="songs-container">
              <div class="songs" *ngFor="let song of album.songs">
                {{ song.title }} - {{ song.length }}<br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <app-canvas-container [albumIndex]="albumIndex">
          [changeTexture]="currentDirection"</app-canvas-container
        >
        <div class="button-container">
          <div class="buttons">
            <button mat-icon-button (click)="onPrevClick()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button (click)="onNextClick()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <h2>Gallerie <mat-icon>photo_camera</mat-icon></h2>
    <div class="gallery-container">
      <div class="gallery">
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/mercedes.jpeg"
          (click)="openDialog('mercedes.jpeg')"
          alt="mercedes"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/eleanor.jpeg"
          (click)="openDialog('eleanor.jpeg')"
          alt="eleanor"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/sunset.jpeg"
          (click)="openDialog('sunset.jpeg')"
          alt="sunset"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/polaroid.jpeg"
          (click)="openDialog('polaroid.jpeg')"
          alt="inverted1"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/yingsiu_new.jpeg"
          (click)="openDialog('yingsiu_new.jpeg')"
          alt="yingsiu_new"
        />
        <img
          class="lazy-load"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
          data-src="assets/images/gf.jpeg"
          (click)="openDialog('gf.jpeg')"
          alt="gf"
        />
      </div>
    </div>
  </div>
</div>
