.wrapper {
  margin: 20px 10%;
  display: flex;
  flex-direction: column;
}

.music {
  display: flex;
  flex-direction: row; /* Default row layout */
  position: relative; /* For positioning child elements */
  min-height: 590px;
  margin-bottom: 100px;
}

.album {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ensure padding is included in height calculations */
}

.songs-container {
  height: 192px;
  overflow: auto; /* Ensure content inside can scroll if it overflows */
}

.left {
  width: 33.333%;
  text-align: justify;
}

.right {
  position: relative;
  width: 66.6666%;
}

mat-icon {
  margin-bottom: 4px;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

app-canvas-container {
  aspect-ratio: 4 / 3;
  width: 100%; /* Ensure it takes full width */
}

.gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery img.loaded {
  opacity: 1;
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  height: auto;

  img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio */
  }
}

@media (max-width: 1024px) {
  /* Tablet size */

  .gallery {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Correctly applying grid-template-columns to .gallery */
  }

  .music {
    flex-direction: column; /* Stack left above right on small screens */
  }

  .left,
  .right {
    width: 100%; /* Both take full width when stacked */
    height: 100%;
    min-height: 100px; /* Ensure there is enough space for dynamic content */
  }
}

@media (max-width: 610px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    margin: 20px;
  }
  .gallery {
    > * {
      width: 100%;
    }
  }
}
@media (max-width: 425px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    > * {
      min-width: none;
      max-width: 350px;
    }
  }

  .column {
    flex-wrap: wrap;
  }
}
