/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  font-family: "karla";
}

@font-face {
  font-family: "karla";
  src: url(assets/font/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: "young";
  src: url(assets/font/YoungSerif-Regular.ttf);
}





/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
