/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  font-family: "karla";
}

@font-face {
  font-family: "karla";
  src: url(assets/font/Karla-VariableFont_wght.ttf);
}
